@model IEnumerable<inHealthTechnicalExam.DataAccessLayer.Models.Blog>

<h1>Index</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @if (ViewBag.IsAdmin)
                            {
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                <span>-</span>
                            }
                            <a asp-action="Create" asp-controller="Comments" asp-route-id="@item.ID">Add Comment</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>